@model Lody_i_Godziny

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
</div>
<div class="row">
    <div class="col-6">
        @foreach (var m in Model.Lody)
        {
            <div>
                <h5 style="display:inline">@m.SmakNazwa</h5>
                <h6 style="display:inline">@m.SmakOpis</h6>

                <br><br />
            </div>
        }
        <a asp-controller="Edycja" asp-action="DodawanieSmaku" class="btn btn-primary">Dodawanie Smaku</a>
        <a asp-controller="Edycja" asp-action="Godzin" class="btn btn-primary">Edycja godzin</a>
    </div>
    <div class="col-6 text-md-center">
        @{
            int i = (int)DateTime.Now.DayOfWeek - 1;
            int endLoop = i;
            }
        @do
        {
            var m = Model.ReturnHourWork(i);
            string minutaS = m.MinutaStart.ToString();
            string minutE = m.MinutaEnd.ToString();
            @if (m.MinutaStart.ToString().Length == 1)
            {
                minutaS = "0" + m.MinutaStart.ToString();
            }
            @if (m.MinutaEnd.ToString().Length == 1)
            {
                minutE = "0" + m.MinutaEnd.ToString();
            }
            if (m.DzienID == (Dzien)(DateTime.Now.DayOfWeek - 1))
            {
                <h2 style="color: darkred">@m.DzienID</h2>
                if ((DateTime.Now.Hour > m.GodzinaStart || (DateTime.Now.Hour == m.GodzinaStart && DateTime.Now.Minute >= m.MinutaStart))
                    && (DateTime.Now.Hour < m.GodzinaEnd || (DateTime.Now.Hour == m.GodzinaEnd && DateTime.Now.Minute <= m.MinutaEnd)))
                {
                    <h3 style="color: green">
                        od @m.GodzinaStart.ToString():@minutaS
                        do @m.GodzinaEnd.ToString():@minutE
                    </h3><br>
                }
                else
                {
                    <h4 style="color: red">
                        od @m.GodzinaStart.ToString():@minutaS
                        do @m.GodzinaEnd.ToString():@minutE
                    </h4><br>
                }

            }
            else
            {
                <h3 style="color: darkblue">@m.DzienID</h3>

                <h4>od @m.GodzinaStart.ToString():@minutaS do @m.GodzinaEnd.ToString():@minutE</h4><br>
            }
            i++;
            if (i > 6)
            {
                i = 0;
            }
        } while (i != endLoop);
       
    </div>
</div>





